# Applying the RSL function to the S&P 500 index

In [77]:
import pandas as pd
import yfinance as yf
from tiny_ta import rsl

### Download all DAX 40 symbols

In [78]:
URL = "https://de.wikipedia.org/wiki/DAX"
symbols = [symbol + ".DE" for symbol in pd.read_html(URL)[1].Symbol]

In [79]:
# Download the S&P 500 index price data from Yahoo
dax_stocks = yf.download(symbols, interval="1wk", group_by="ticker")

[*********************100%%**********************]  40 of 40 completed

### Add the RSL to all symbols

In [80]:
dax = dict()

for symbol in dax_stocks.columns.get_level_values(0).unique():
    df = dax_stocks[symbol]
    df["rsl"] = rsl(df.Close)
    dax[symbol] = df

### Filter for top 5 per week

In [81]:
WEEKS = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

rsl_top = [
    [stock.iloc[week].name]
    + [
        symbol
        for symbol, _ in sorted(
            [(symbol, stock.rsl.iloc[week]) for symbol, stock in dax.items()],
            key=lambda a: a[1],
            reverse=True,
        )[:5]
    ]
    for week in WEEKS
]

pd.DataFrame(rsl_top).set_index(0)

                 1       2       3       4        5
0
2023-12-25  VNA.DE  SIE.DE  DBK.DE  IFX.DE   CON.DE
2024-01-01  DBK.DE  RHM.DE  VNA.DE  CBK.DE   SIE.DE
2024-01-08  RHM.DE  VNA.DE  HEI.DE  SIE.DE   AIR.DE
2024-01-15  RHM.DE  AIR.DE  SAP.DE  DB1.DE   MTX.DE
2024-01-22  ENR.DE  SAP.DE  MTX.DE  RHM.DE   SIE.DE
2024-01-29  SAP.DE  ENR.DE  RHM.DE  DBK.DE   HEI.DE
2024-02-05  SAP.DE  RHM.DE  ENR.DE  MTX.DE  SRT3.DE
2024-02-12  RHM.DE  MTX.DE  ENR.DE  SAP.DE   SIE.DE
2024-02-19  RHM.DE  SAP.DE  ENR.DE  SIE.DE   MBG.DE
2024-02-26  RHM.DE  SAP.DE  ENR.DE  MBG.DE   DTG.DE